body{
  /* Texte */
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: flex-end; 
}

header{
  top: 0;
  position: fixed;
  z-index: 1;
}

main{
  flex-grow: 1;
}

.nav{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-left:21rem;
  padding: 1rem;
  /*effet glassy*/
  background: rgba(0, 0, 0, 0.718);
  border-end-end-radius: 20px;
  border-end-start-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
}

a{
  color: inherit;
  text-decoration: none;
}

.profil{
  width : 4rem;
  height: 4rem;
  border-radius: 100%;
  border: solid 0.18rem white;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.profil:hover{
  opacity: 80%;
  cursor:pointer;
  
}

.profil:active{
  opacity: 100%;
  border: solid 0.18rem #3eabff;
}

.contact{
  background-color:#3eabff;
  color:black;
  font-size: 0.9rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem ; 
  padding-left: 1rem; 
  padding-right: 1rem; 
  border-radius: 1.125rem; 
  border: solid 0.13rem #3eabff;
  font-weight: bold;
}
  
.contact:hover{
  cursor: pointer;
  background-color:#66bdff;
}
  
.contact:active{
  background-color:#3eabff;
}

.bouton-menu, .bouton-retour{
  color:white;
  font-size: 0.9rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  padding-left: 1rem; 
  padding-right: 1rem; 
  border-radius: 1.125rem; 
  justify-content: center; 
  align-items: center; 
  display: inline;
  margin: 0.5rem;
  font-weight: bold;
}

.bouton-menu:hover, .bouton-retour:hover{
  background-color: white;
  color:black;
  cursor: pointer;
}

.bouton-menu:active, .bouton-retour:active{
  background-color:rgb(227, 227, 227);
}

h1{
  text-align: center;
  margin:0;
  padding: 0.9375rem;
}

.grand-titre{
  Padding: 0;
  margin-bottom: 0.5rem;
}

.nom{
  margin: 0;
  margin-bottom: 4rem;
  font-style: normal;
  letter-spacing: 0.13rem;
  font-size: 0.9rem;
  color: #3eabff;
}

.nom, .grand-titre{
  text-align: center;
}

.portrait{
  width: 17rem;
}

.presentation{
  display: flex;
  align-items:self-end;
  margin-bottom: 2rem;
}

.texte-presentation{
  margin-left: 1rem;
}

.bouton-2{
  color:white;
  background-color: black;
  font-size: 0.9rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  padding-left: 1.3rem; 
  padding-right: 1.3rem; 
  border-radius: 1.125rem; 
  justify-content: center; 
  align-items: center; 
  margin: 0.5rem;
  font-weight: 500;
  border: solid 0.13rem white;
}

.bouton-2:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}

.bouton-2:active{
background-color: #d4d4d4;
}

.lieu{
  font-size:1rem;
  text-decoration: underline;
  text-underline-offset: 0.3125rem;
  letter-spacing: 0.13rem;
  line-height: 1.7rem;
  margin-bottom: 2rem;
}

.section{
  margin-top: 2.8125rem;
  background-color: #1d1d1d;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 1.625rem;
  padding:0.5rem;
  justify-content: center;
  align-items: center;
}

h2{
  text-align: center;
}

.titre-section{
  justify-content: center;
  align-items: center;
  margin-bottom: 0.3125rem;
}

.container-projet{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.875rem;
  border-radius: 1.125rem;
  padding: 0.5rem;
  margin-right: 1.875rem;
  margin-left: 1.875rem;
}

.carte-projet{
  background-color: #fbfbfb;
  color: black;
  width: 50%;
  padding: 1rem;
  margin-left: 5%;
  margin-right: 0.8125;
  margin-bottom: 0.625rem;
  border-radius : 1.125rem;
}

.type-travail{
  justify-content: left;
  text-decoration: underline;
  text-underline-offset: 0.3125rem;
  font-style: normal;
  letter-spacing: 0.13rem;
  font-size: 0.9rem;
  line-height: 1.7rem;
  margin-bottom: 1.875rem;
}

.groupe-contact{
  display: flex;
  justify-content: center;
}

.compétences{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-compétence{
  width:40%;
  z-index: 1;
}

.content-compétence, .content-contact{
  padding: 0.625rem;
}

.carte-compétence, .carte-contact{
  background-color: #fbfbfb;
  color: black;
  width: 70%;
  padding: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 2rem;
  border-radius : 1.125rem;
  text-align: center;
}

.carte-compétence{
transform: translateY(-4rem);
padding-top: 4.5rem;
margin-bottom: 0;
}

.nom-compétence, .nom-contact{
  margin: 0;
}

.logiciel{
margin-top: 0.5rem;
}

.date-compétence, .lieu-contact{
  justify-content: left;
  text-decoration: underline;
  text-underline-offset: 0.313rem;
  font-style: normal;
  letter-spacing: 0.13rem;
  font-size: 0.9rem;
  margin-top: 0.2rem;
  margin-bottom: 2rem;
}

.nom-projet{
  margin: 0;
}

.résumé{
  margin: 0;
  margin-top: 0.5rem;
}

.content-projet{
  padding: 0.625rem;
}

.bouton-plus{
  display: flex;
  justify-content: right;
  font-size: 0.9rem;
}

.bouton-plus:hover{
  text-decoration: underline;
  text-underline-offset: 0.313rem;
  cursor: pointer;
  transform: translateY(-0.13rem);
}

.arrow{
margin-top: 1.1rem;
padding-left: 0.4rem
}

.images-projet{
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.688rem;
  padding: 0.75rem;
  width: 40%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0.625rem;
  margin-right: 1.375rem;
}

img{
  width: 70%;
  border-radius: 0.563rem;
  padding: 0.13rem;
}

.image-duo{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}


* {
  box-sizing: border-box;
}


/* Timeline Verticale Taille */
.timeline {
  position: relative;
  max-width: 75rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

/* Ligne Timeline */
.timeline::after {
  content: '';
  position: absolute;
  width: 0.375rem;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -0.188rem;
  margin-bottom: 1rem;
}

/* Container */
.container {
  padding: 0.5rem 2rem;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* Points de la timeline */
.container::after {
  content: '';
  position: absolute;
  width: 1.563rem;
  height: 1.563rem;
  right: -1.063rem;
  background-color: #3eabff;
  border: 0.25rem solid #3eabff;
  top: 0.938rem;
  border-radius: 50%;
  z-index: 1;
}

/* Container de gauche */
.left {
  left: 0;
}

/* Container de droite */
.right {
  left: 50%;
}

/* Point avant le container droit reste fixé à gauche sur la timeline */
.right::after {
  left: -1rem;
}

/* Bloc content gauche  */
.content-left {
  padding: 2rem;
  background-color: white;
  color: black;
  position: relative;
  border-radius: 1.125rem 0rem 1.125rem 1.125rem;
  text-align: right;
}

/* Bloc content droit  */
.content-right {
  padding: 2rem;
  background-color: white;
  color: black;
  position: relative;
  border-radius: 0rem 1.125rem 1.125rem 1.125rem;
}

.date-gauche{
text-align: right;
}

.info-contact{
  margin-top: 0;
  padding:0;
}

.moyen-contact{
  color:#3eabff;
  margin-top: 0.3rem;
  margin-bottom:0.3rem;
}

.champs-nom{
  display: flex;
  justify-content: center;
}

.ic1{
  margin-right: 0.5rem;
}

.sous-titre-form{
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 2rem;
}

.input-container {
  height: 3.125rem;
  position: relative;
  width: 100%;
}

.ic1, .ic2, .ic3, .ic4 {
  margin-top: 1.25rem;
}

.input {
  background-color: #1d1d1d;
  border-radius: 0.75rem;
  border: 0;
  box-sizing: border-box;
  color: white;
  font-size: 1.125rem;
  height: 100%;
  outline: 0;
  padding: 0.25rem 1.25rem 0;
  width: 100%;
}

.input-message{
  background-color: #1d1d1d;
  border-radius: 0.75rem;
  border: 0;
  box-sizing: border-box;
  color: white;
  font-size: 1.125rem;
  outline: 0;
  padding: 0.8rem 1.25rem 0;
  width: 100%;
}

.label {
  background-color: white;
  border-radius: 0.625rem;
  height: 1.25rem;
  left: 1.25rem;
  position: absolute;
  top: -1.25rem;
  transform: translateY(0);
  transition: transform 200ms;
  width: 3.938rem;
}

.label-court1 {
  width: 3.125rem;
}

.label-court {
  width: 2.813rem;
}

.input:focus{
  border: 0.2rem solid #3eabff;
}

.input:focus ~ .label,
.input:not(:placeholder-shown) ~ .label {
  transform: translateY(8px);
}

.input-message:focus{
  border: 0.2rem solid #3eabff;
}

.placeholder {
  color: grey;
  font-family: sans-serif;
  left: 1.25rem;
  line-height: 0.9rem;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 1.25rem;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-1.875rem) translateX(0.625rem) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #3eabff;
}

.input:focus ~ .placeholder {
  color: black;
}

.submit {
  background-color:#3eabff;
  color:black;
  font-size: 0.9rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem ; 
  padding-left: 1rem; 
  padding-right: 1rem; 
  border-radius: 1.125rem; 
  margin-top: 6rem;
  margin-bottom: 0;
  border: solid 0.13rem #3eabff;
  font-weight: bold;
}

.submit:hover{
  cursor: pointer;
  background-color:#66bdff;
}
  
.submit:active{
  background-color:#3eabff;
}

.reset{
  color:black;
  background-color: white;
  font-size: 0.9rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  padding-left: 1.3rem; 
  padding-right: 1.3rem; 
  border-radius: 1.125rem; 
  justify-content: center; 
  align-items: center; 
  margin-right: 1.5rem;
  font-weight: 500;
  border: solid 0.13rem black;
}

.reset:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

.reset:active{
background-color: rgb(59, 59, 59);
border-color:rgb(59, 59, 59);
}

footer{
  margin-top: auto;
  text-align: center;
  margin-top: 1.5rem;
  color: white;
  position: relative;
  border: 0.2rem solid #1d1d1d;
  border-radius: 1.125rem;
}

.label-menu, #toggle
{
    display: none;
}

/*Styles CSS de la page "Qui-suis-je ?" (about.html)*/

.nav-about{
  width: 100%;
  height: 100%;
  display:grid;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  background: rgba(0, 0, 0, 0.718);
  border-end-end-radius: 20px;
  border-end-start-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
}

.contact-about{
  margin: 0.5rem;
}

.bouton-retour{
  color:black;
  background-color: white;
  font-size: 0.9rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  padding-left: 1.3rem; 
  padding-right: 1.3rem; 
  border-radius: 1.125rem; 
  justify-content: center; 
  align-items: center; 
  margin: 0.5rem;
  margin-bottom: 0;
  font-weight: 500;
  border: solid 0.13rem white;
}

.bouton-retour:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}

.bouton-retour:active{
background-color: #d4d4d4;
}

.about-image{
  width: 100%;
}

.content-about{
  padding: 0.5rem;
}

.presentation-about{
  display: flex;
  align-items:self-end;
  margin-bottom: 2rem;
  background-image: url(Autoportrait2.jpg);
  background-size: 100%;
  border-radius: 1.125rem; 
}

.texte-about{
  margin: 1rem;
}

.section-about{
  background-color: #1d1d1da9;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 1.625rem;
  padding:0.5rem;
  justify-content: center;
  align-items: center;
}

.nom-about{
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
  font-style: normal;
  letter-spacing: 0.13rem;
  font-size: 0.9rem;
  color: #3eabff;
}

/* Media Queries pour les affichages sur les différents supports
Styles pour les écrans plus petits (ex. mobile) */
@media only screen and (max-width: 767px) {
  .nav{
    display:none
  }

  .presentation{
    display:grid;
  }

  .texte-presentation{
    text-align: center;
  }
  
  .main_pages 
  {
    display: none;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.718);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    height: 18.5rem;
    width: 11.5rem;
  }
 
  .nav-2, .main_pages a {
    width: 100%;
  }
 
  .label-menu
  {
    width: 11.5rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position:sticky;
    margin: 0 auto;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.718);
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
  }
 
  #toggle:checked + .main_pages {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .profil{
    margin-top:0.8rem;
    margin-bottom: 0.5rem;
  }

  .contact{
    margin-top: 1rem;
  }
  
  .container-projet{
    display:grid;
  }

  .carte-projet{
    background-color: #fbfbfb;
    color: black;
    width: 100%;
    padding: 1rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    border-radius : 1.125rem;
    text-align: center;
  }

  .images-projet{
    border-radius: 0.688rem;
    padding: 0.5rem;
    padding-top: 0;
    width: 100%;
    margin-bottom: 0.625rem;
  }
  
  img, .image-quatuor{
    width: 80%;
    border-radius: 0.563rem;
    padding: 0.13rem;
  }
  
  .image-duo{
    width: 80%;
    display: grid;
  }

  .content-projet{
    padding: 0;
  }

  main{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2rem;
    padding-top:2rem;
  }

  .bouton-plus{
    justify-content: center;
  }

  html{
    scroll-padding-top: 2.5rem;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles pour les tablettes */
  .nav{
    display:none
  }

  .presentation{
    display:grid;
  }

  .texte-presentation{
    text-align: center;
  }
  
  .main_pages 
  {
    display: none;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.718);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    height: 18.5rem;
    width: 11.5rem;
  }
 
  .nav-2, .main_pages a {
    width: 100%;
  }
 
  .label-menu
  {
    width: 11.5rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position:sticky;
    margin: 0 auto;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.718);
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
  }
 
  #toggle:checked + .main_pages {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .profil{
    margin-top:0.8rem;
    margin-bottom: 0.5rem;
  }

  .contact{
    margin-top: 1rem;
  }

  .container-projet{
    display:grid
  }

  .carte-projet{
    background-color: #fbfbfb;
    color: black;
    width: 100%;
    padding: 1rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    border-radius : 1.125rem;
    text-align: center;
  }

  .images-projet{
    border-radius: 0.688rem;
    padding: 0.5rem;
    padding-top: 0;
    width: 100%;
    margin-bottom: 0.625rem;
  }
  
  img, .image-quatuor{
    width: 80%;
    border-radius: 0.563rem;
    padding: 0.13rem;
  }
  
  .image-duo{
    width: 80%;
    display: grid;
  }

  .content-projet{
    padding: 0;
  }

  main{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
    padding-top:2rem;
  }

  .bouton-plus{
    justify-content: center;
  }

  html{
    scroll-padding-top: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  /* Styles pour les ordinateurs de bureau */
  .nav-2{
    display: none;
  }

  .statut{
   text-align: left;
  }

  main{
    margin-left:15%;
    margin-right:15%;
    margin-top: 8rem;
  }

  html{
    scroll-padding-top: 6rem;
  }
}
